<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Load Require CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="assets/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/custom.css">
<!--
    


-->
</head>

<body>
    


    <!-- start project managment -->
    <section class="bg-light w-100">
        <div class="container">
            <div class="row d-flex align-items-center py-5">
                <div class="col-lg-6 text-start">
                    <h1 class="h2 py-5 text-primary">Digital Marketing <span style ="display: block">The word of the future</span></h1>
                    <p class="light-300">
                        
                          It is almost impossible to imagine today's business without digital marketing and digitalization especially.
                          In other words, digital marketing and business digitalization have become something that companies all around the world are relying on
                           whether it is to bring them more customers or to expand their business.Our team consists of social media experts, graphics designers,
                           video editors that could create unique social media plans to fit the needs of the client. 
                          Apart from that, our production team is there to back them up and increase the quality of service. 
                          Digital marketing is one of the main services that NLX Adria is offering and that is a part of almost every project that we worked on.

                          Digital marketing services includes, but are not limited to:
                           <ul>
                             <li>ATL</li>
                             <li>BTL & TTL Marketing</li>
                             <li>Social Media Management</li>
                             <li>Creative Marketing Campaigns</li>
                             <li>PR</li>
                             <li>etc</li>
                         </ul>  
                    </p>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src="./assets/images/nova fotka.png">
                </div>
            </div>
        </div>
    </section>
    <!-- end project managment -->


   



    

    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Templatemo -->
    <script src="assets/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="assets/js/custom.js"></script>

</body>

</html>