<!DOCTYPE html>
<html lang="en">

   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Load Require CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="assets/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/custom.css">

</head>


<body>
    <!-- Start Service -->
    <section class="service-wrapper py-3">
        <div class="container pb-3">
            <div class="row">
                <h2 class="h2 text-center col-12 py-5 semi-bold-600">Projects</h2>
                <div class="service-header col-2 col-lg-3 text-end light-300">
                    
                </div>
                <div class="service-heading col-10 col-lg-9 text-start float-end light-300">
                    <h2 class="h3 pb-4">Make Success for future</h2>
                </div>
            </div>
            <p class="service-footer col-10 offset-2 col-lg-9 offset-lg-3 text-start pb-3 text-muted px-2">
                Every project and product is meticulously considered and created to bring new future.
                Our team consists of professionals that work with vast experience in international projects.
                Our team consists of social media experts, graphics designers, video editors that could create unique social media plans to fit the needs of the client.
            </p>
        </div>
    </section>

    <section class="container overflow-hidden py-5">
        <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
                <a href="https://www.youtube.com/watch?v=dzuCFOfMd1A" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="service card-img" src="./assets/images/Bucharest gaming week 2018.jpg" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-center">
                        <div class="service-work-content text-center text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Bucharest gaming week</span>
                            
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
                <a href="https://www.youtube.com/watch?v=TDSea9HuXq8" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="./assets/images/Dreamhack Online 2020, 2021.jpg" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-center">
                        <div class="service-work-content text-center text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Dreamhack Online</span>
                            
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project branding">
                <a href="https://www.youtube.com/watch?v=daQBFeSNmsM" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="./assets/images/ESL one Birmingham 2019.jpg" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-center">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">ESL one Birmingham</span>
                          
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
                <a href="https://www.youtube.com/watch?v=un9wNhkQlC0" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="./assets/images/ESL one Cologne 2019.jpg" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-center">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">ESL one Cologne</span>
                            
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
                <a href="https://www.youtube.com/watch?v=Vb5wAod1gAA" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="./assets/images/IEM Katowice Starcraft II online2021.jpg" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-center">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">IEM Katowice Starcraft II</span>
                            
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project branding">
                <a href="https://www.youtube.com/watch?v=2QHWex3Krss" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="./assets/images/intel extreme masters Katowice 2019.jpg" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-center">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Intel extreme masters Katowice</span>
                            
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project branding">
                <a href="https://www.youtube.com/watch?v=PK4kY77YRU0" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="./assets/images/PUBG daily  online 2020,2021.jpg" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-center">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300"> PUBG daily  online</span>
                            
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project branding">
                <a href="https://www.youtube.com/watch?v=2uyW6VUo3-k" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="./assets/images/UEFA eEuro online 2020.jpg" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-center">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300"> Uefa eEuro Online</span>
                            
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Recent Work -->

            </section>
            <!-- Start Banner Hero -->
     <section class="service-wrapper py-3">
        <div class="container pb-3">
            <div class="row">
                <h2 class="h3 text-center col-12 py-5 semi-bold-600">Clients we work with</h2>
                <div class="service-header col-2 col-lg-3 text-end light-300">
                </div>
            </div>
            <p class="service-footer col-10 offset-2 col-lg-9 offset-lg-3 text-start pb-3 text-muted px-2">
                         NLX Adria DOO offers a wide range of consulting services with the necessary tools and expertise to help grow your business. 
                         We partner with our clients from start to finish, focusing on their needs while producing new ideas, 
                          developing effective strategies and designing high quality and scalable solutions.
            </p>
                   <div> <img class="img-fluid" src="./assets/images/PARTNERI2.jpg"></div>
        </div>
    </section>
    <!-- End Banner Hero -->
            


           

    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Load jQuery require for isotope -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Isotope -->
    <script src="assets/js/isotope.pkgd.js"></script>
    <!-- Page Script -->
    <script>
        $(window).load(function () {
            // init Isotope
            var $projects = $('.projects').isotope({
                itemSelector: '.project',
                layoutMode: 'fitRows'
            });
            $(".filter-btn").click(function () {
                var data_filter = $(this).attr("data-filter");
                $projects.isotope({
                    filter: data_filter
                });
                $(".filter-btn").removeClass("active");
                $(".filter-btn").removeClass("shadow");
                $(this).addClass("active");
                $(this).addClass("shadow");
                return false;
            });
        });
    </script>
    <!-- Templatemo -->
    <script src="assets/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="assets/js/custom.js"></script>
</body>
    </html>