<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Load Require CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="assets/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/custom.css">
<!--
    
TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

-->
</head>

<body>
    

    <!-- start project managment -->
    
   <section class="bg-light w-100">
        <div class="container">
            <div class="row d-flex align-items-center py-5">
                <div class="col-lg-6 text-start">
                    <h1 class="h2 py-5 text-primary">Business Consulting <span style ="display: block">Solutions for Success</span></h1>
                    <p class="light-300">
                        NLX Adria DOO offers the comprehensive capabilities and deep industry knowledge necessary to help you solve the most
                         complex issues of your organization. 


                        As an agency that worked in various industries we have deep connections with other organizations that worked with us as
                         outsource companies. Our team can connect you with professionals in other industries that can provide services to fit 
                                                    the needs of the projects.

                        Outsourcing is one of our primary business due to complexities and needs of the projects we worked on,
                         therefore making partners in the region and overseas is crucial for future of the business.


                         Business consulting services includes:
                         <ul>
                             <li>Strategic Planning</li>
                             <li>Business Development</li>
                             <li>Venue organization</li>
                             <li>Outsourcing</li>
                             <li>etc</li>
                         </ul> 
                    </p>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src="./assets/images/BOX 2.jpg">
                </div>
            </div>
        </div>
    </section>

    <!-- end project managment -->




    

    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Templatemo -->
    <script src="assets/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="assets/js/custom.js"></script>

</body>

</html>