<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Load Require CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="assets/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/custom.css">

</head>

<body>

    <!-- start project managment -->
    
   <section class="bg-light w-100">
        <div class="container">
            <div class="row d-flex align-items-center py-5">
                <div class="col-lg-6 text-start">
                    <h1 class="h2 py-5 text-primary">Event Management <span style ="display: block">An Innovative Solution</span></h1>
                    <p class="light-300">
                        Organizing events is one of the most interesting parts of every project. 
                         It is our job to find the most suitable venue, organize it to fit the needs of desired product and coordinate with every team involved.
                         Online world is one thing and it has its own charms,
                          but offline events are something where people can actually meet and make everlasting memories for which we are responsible.
                         NLX team is there to ensure quality organization of events
                          based on the vast experience we have in international events and creative ways to organize the venues. 
                         Choosing the venue and selecting just the right team is something that we enjoy doing because this is the time when the magic happens.

                          Event management services includes, but are not limited to:
                         <ul>
                             <li>Stage Management</li>
                             <li>Production</li>
                             <li>Venue organization</li>
                             <li>Catering</li>
                             <li>Transport</li>
                         </ul> 
                    </p>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src="./assets/images/BOX 3.jpg">
                </div>
            </div>
        </div>
    </section>

    <!-- end project managment -->

    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Templatemo -->
    <script src="assets/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="assets/js/custom.js"></script>

</body>

</html>